@font-face {
    font-family: Digital-7;
    src: url('../fonts/digital-7.ttf') format('truetype');
}
@font-face {
    font-family: Square;
    src: url('../fonts/Square.ttf') format('truetype');
}
.digit-font-result{
  width: 100%;
  font-family: Digital-7, monospace;
  height: 100%;
  font-size: xxx-large;
  display: flex;
  position: inherit;
  align-items: flex-end;
  flex-direction: column-reverse;
  overflow-x: hidden ;

  /* padding-left: 0; */
  /* padding-top: 0; */
}

body {
    background: linear-gradient(135deg, #a6badd 10%, #5aa8dbde 100%);
}
h1 {
    text-align: center;
}
.red {
    color: rgba(247, 9, 9, 0.733);
}
.green {
    color: green;
}
.down .orange {
    background-color: rgb(255, 126, 5);
}
.calculator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 280px;
    height: 560px;
    border-color: grey;
    background: #d3d3d3;
    padding: 1.5rem;
    box-shadow: 0 0 50px 5px rgb(10, 10, 10);
}
.logo {
    font-family: Square, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: -1rem;
    margin-left: 1rem;
    display: block;
}
.model {
    display: block;
    margin-top: 0.75em;
    font-style: italic;
    font-weight: bold;
}
.svpam {
    display: inline-block;
    color: green;
    font-weight: bold;
    font-size: small;
}
.solar {
    float: right;
    margin: -3em 0;
    width: 55%;
    height: 3rem;
    background: hsla(336, 13%, 23%, 0.808);
    box-shadow: inset 0 0 15px rgb(8, 8, 8);
    border-radius: 10px;
}
.power {
    float: right;
    line-height: 1.5rem;
    font-size: xx-small;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}
.screen {
    width: 100%;
    height: 6rem;
    background: hsla(157, 34%, 64%, 0.568);
    border-radius: 4px;
    box-shadow: inset 0 0 15px black;
    margin: 0.5em 0;
}
/* buttons start */
.top-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: saddlebrown;
    font-size: x-small;
    line-height: 20px;
  }
  .top-buttons button {
    width: 2.35rem;
    height: 2em;
    border-radius: 15px;
    background-color: gray;
  }
  .shift {
    font-family: Square, sans-serif;
    margin-top: 1em;
  }
  .alpha {
    font-family: Square, sans-serif;
    margin-top: 1.5em;
    margin-left: 1.5em;
  }
  .mode {
    font-family: Square, sans-serif;
    margin-top: 1.5em;
    margin-left: 11em;
    margin-right: 1.5em;
  }
  .on {
    font-family: Square, sans-serif;
    margin-top: 1em;
  }
  .replay {
    font-family: Square, sans-serif;
    background: grey;
    width: 78px;
    height: 70px;
    line-height: 70px;
    position: absolute;
    left: 40%;
    top: 33%;
    border-radius: 125px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    box-shadow: 2px 2px 5px 0 black;
  }
  .up {
    font-family: Square, sans-serif;
    display: flex;
    justify-content: center;
    color: saddlebrown;
    font-size: 10px;
    text-align: center;
    margin-bottom: 10px;
  }
  .up button {
    font-family: Square, sans-serif;
    color: white;
    background-color: black;
    height: 20px;
    width: 45px;
    border-radius: 8px;
  }
  .down {
    font-family: Square, sans-serif;
    display: flex;
    justify-content: center;
    color: saddlebrown;
    font-size: 10px;
    text-align: center;
  }
  .down button {
    font-family: Square, sans-serif;
    color: black;
    background-color: white;
    height: 30px;
    width: 50px;
    border-radius: 8px;
    box-shadow: 0 1px 4px 0 black;
  }